---
const PROJECTS = [
    {
        title: 'Project 1',
        description:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Est iste assumenda illo officiis perferendis? Dolores numquam quas neque architecto laboriosam reiciendis, porro veniam ab mollitia accusantium nisi, nam eius, quibusdam doloremque. Sequi maiores libero voluptate odit magnam voluptates placeat aliquid!',
        github: '#',
        image: 'https://res.cloudinary.com/brainbok/image/upload/v1532962152/project-initiation-context.png',
        tags: ['React', 'TailwindCSS', 'Astro'],
    },
]
---

{
    PROJECTS.map((project) => (
        <article>
            <h3 class='text-2xl font-semibold text-yellow-200 mb-2'>
                {project.title}
            </h3>
            <p class='text-lg mb-4 text-pretty'>{project.description}</p>
            <ul>
                {project.tags.map((tag) => (
                    <li>{tag}</li>
                ))}
            </ul>
            <img
                class='rounded  shadow-2xl shadow-white/10 size-90'
                src={project.image}
                alt={project.title}
            />
        </article>
    ))
}
